* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: 'Lato', sans-serif;
}
header {
  height: 200px;
}

/*Text-Container and Search Box*/
header > div[id="text-container"] {
  width: 40%;
  margin-top: -180px;
}
header > div[id="text-container"] h1,
header > div[id="text-container"] form {
  width: 100%;
}
header > div[id="text-container"] form input,
header > div[id="text-container"] form button{
  border: none;
  border-radius: 5px;
  padding: 7px;
}
header > div[id="text-container"] form input{
  border-top-right-radius: initial; 
  border-bottom-right-radius: initial;
  color: rgba(0, 0, 0, 0.8);
  width: 80%;
  padding-left: 20px;
  margin-right: 3px;
  background: rgba(255, 255, 255, 0.7);
  /*z-index: 1000;*/
}
header > div[id="text-container"] form input:focus{
  outline: thin solid transparent;
}
header > div[id="text-container"] form input::placeholder{
  font-size: 0.9em;
  font-weight: 500;
}

header > div[id="text-container"] form button{
  border-top-left-radius: initial; 
  border-bottom-left-radius: initial;
  width: 19%; 
  background: rgba(255, 255, 255, 0.7);
}



/*Warning*/
div[id="warning-cont"] {
  position: relative;
  margin-top: 3px;
  max-width: 100%;
}
div[id="warning-cont"] #warning{
  font-size: 0.9em;
}
/*loading animation*/
span[class="loading-animation"]{
  position: relative;
  display: block; /*must have a display other than inline*/
  width: 10px; /*width and height must be same*/
  height: 10px; /*width and height must be same*/
  color: black;
  font-weight: bold;
  font-size: 0.7em;

  /*background-color: rgb(0, 255, 0); /*green*/
  background-color: skyblue;
  margin-top: 7px;
  margin-left: 4px;
  /*padding-top: 0px;*/
  animation: rotateThreeSixtyDegrees 1.2s linear 0s infinite;
}
@keyframes rotateThreeSixtyDegrees {
  from {-webkit-transform: rotateZ(0deg);}
  to {-webkit-transform: rotateZ(360deg);}
}


/*IP-Details*/
header > div[id="ip-details"] {
  position: relative;
  width: 70%;
  margin-top: 10px;
  border-radius: 10px;
  opacity: 0.9;
}

header > div div{
  padding-right: 20px;
}
header > div div:nth-child(2),
header > div div:nth-child(3),
header > div div:nth-child(4) {
  border-left: 1px solid black;
  padding-left: 20px;
}


/*MAIN*/
main iframe[id="map-frame"] {
  height: 90vh;
}


/*FOOTER*/
footer {
  height: 140px;
  position: relative;
}
footer section[id="footer-container"] {
  position: absolute;
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.9);
}

/*credit*/
footer div[id="credit"] > div{
  width: 60%;
}
footer div[id="credit"] #frontendmentor p > a{
  display: inline-flex;
  color: white;
  text-decoration: underline;
}
footer div[id="credit"] #frontendmentor p > a:hover{
  text-decoration: none;
}

/*my contact details*/
footer div[id="credit"] #myContactDetails #myLinks{
  width: 100px;
  display: flex;
  justify-content: space-between;
}
footer div[id="credit"] #myContactDetails #myLinks > a{
  display: inline-flex;
  color: white;
  font-size: 1.5em;
}

/*copyright*/
footer div[id="copyrightCont"] {
  border-top: thin solid white;
  padding-top: 10px;
  /*width: 98%;*/
  margin: auto;
}
/*The End*/





