@media screen and (max-width:900px) {
	/*Text-Container and Search Box*/
	header > div[id="text-container"] {
		width: 60%;
	}

	/*IP-Details*/
	header > div[id="ip-details"] {
		width: 90%;
	}
	header > div div h4{
		font-size: 1.4em;
	}
}

@media screen and (max-width:860px) {
	header {
		/*height: 280px;*/
		height: 350px;
	}
	/*background image container*/
	header > div[id="bg-image-cont"] {
		height: inherit !important;
	}
	/*Text-Container and Search Box*/
	header > div[id="text-container"] {
		margin-top: -260px;
	}
}

@media screen and (max-width:800px) {
	/*credit*/
	footer div[id="credit"] > div{
  		width: 90%;
	}
}

@media screen and (max-width:670px) {
	/*IP-Details*/
	header > div[id="ip-details"] {
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (max-width:640px) {
	/*IP-Details*/
	header > div[id="ip-details"] {
  		width: 97%;
  	}
	header > div[id="ip-details"] div{
		width: 50%;
	}
	header > div div:nth-child(1),
	header > div div:nth-child(2) {
		margin-bottom: 5px;
	}
	header > div div:nth-child(3) {
		border-left: none;
	}
}

@media screen and (max-width:630px) {
	header {
		height: 350px;
	}
	/*Text-Container and Search Box*/
	header > div[id="text-container"] {
		width: 80%;
	}
	/*Text-Container and Search Box*/
	header > div[id="text-container"] {
		margin-top: -330px;
	}
}

@media screen and (max-width:550px) {
	/*footer*/
	footer {
		height: 200px;
	}
	/*credit*/
	footer div[id="credit"] > div{
		display: block !important;
  		margin: auto;
  		text-align: center;
	}
	/*hr*/
	footer div[id="credit"] #frontendmentor > hr{
		display: block !important;
		width: 150px;
		background-color: rgba(0, 0, 0, 0.2);
		margin: auto;
		margin-bottom: 10px;
	}

	footer div[id="credit"] > div #myContactDetails{
		justify-content: center;
	}
}

@media screen and (max-width:430px) {
	header {
		height: 350px;
	}
	/*Text-Container and Search Box*/
	header > div[id="text-container"] {
		margin-top: -300px;
	}
	header > div[id="text-container"] h1 {
		font-size: 2em;
	}
	/*IP-Details*/
	header > div[id="ip-details"] {
		font-size: 0.8em;
		padding: 0 !important;
	}
}

@media screen and (max-width:400px) {
	header > div div:nth-child(1) {
		word-wrap: break-word;
	}
}

@media screen and (max-width:390px) {
	header {
		height:320px;
	}
	/*Text-Container and Search Box*/
	header > div[id="text-container"] {
		margin-top: -300px;
		width: 92%;
	}
	/*IP-Details*/
	header > div[id="ip-details"] {
		font-size: 0.7em;
	}
}

@media screen and (max-width:360px){
	/*IP-Details*/
	header > div[id="ip-details"] {
		padding-right: 20px !important;
	}
}